@charset 'utf-8';

@font-face {
    font-family: 'Boing';
    src: url('../fonts/Boing-BoldItalic.eot');
    src: url('../fonts/Boing-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Boing-BoldItalic.woff2') format('woff2'),
        url('../fonts/Boing-BoldItalic.woff') format('woff'),
        url('../fonts/Boing-BoldItalic.ttf') format('truetype'),
        url('../fonts/Boing-BoldItalic.svg#../fonts/Boing-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Boing';
    src: url('../fonts/Boing-Italic.eot');
    src: url('../fonts/Boing-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Boing-Italic.woff2') format('woff2'),
        url('../fonts/Boing-Italic.woff') format('woff'),
        url('../fonts/Boing-Italic.ttf') format('truetype'),
        url('../fonts/Boing-Italic.svg#../fonts/Boing-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Boing';
    src: url('../fonts/Boing-Bold.eot');
    src: url('../fonts/Boing-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Boing-Bold.woff2') format('woff2'),
        url('../fonts/Boing-Bold.woff') format('woff'),
        url('../fonts/Boing-Bold.ttf') format('truetype'),
        url('../fonts/Boing-Bold.svg#../fonts/Boing-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Boing';
    src: url('../fonts/Boing-LightItalic.eot');
    src: url('../fonts/Boing-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Boing-LightItalic.woff2') format('woff2'),
        url('../fonts/Boing-LightItalic.woff') format('woff'),
        url('../fonts/Boing-LightItalic.ttf') format('truetype'),
        url('../fonts/Boing-LightItalic.svg#../fonts/Boing-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Boing';
    src: url('../fonts/Boing-MediumItalic.eot');
    src: url('../fonts/Boing-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Boing-MediumItalic.woff2') format('woff2'),
        url('../fonts/Boing-MediumItalic.woff') format('woff'),
        url('../fonts/Boing-MediumItalic.ttf') format('truetype'),
        url('../fonts/Boing-MediumItalic.svg#../fonts/Boing-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Boing';
    src: url('../fonts/Boing-ThinItalic.eot');
    src: url('../fonts/Boing-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Boing-ThinItalic.woff2') format('woff2'),
        url('../fonts/Boing-ThinItalic.woff') format('woff'),
        url('../fonts/Boing-ThinItalic.ttf') format('truetype'),
        url('../fonts/Boing-ThinItalic.svg#../fonts/Boing-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Boing';
    src: url('../fonts/Boing-Regular.eot');
    src: url('../fonts/Boing-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Boing-Regular.woff2') format('woff2'),
        url('../fonts/Boing-Regular.woff') format('woff'),
        url('../fonts/Boing-Regular.ttf') format('truetype'),
        url('../fonts/Boing-Regular.svg#../fonts/Boing-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Boing';
    src: url('../fonts/Boing-Light.eot');
    src: url('../fonts/Boing-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Boing-Light.woff2') format('woff2'),
        url('../fonts/Boing-Light.woff') format('woff'),
        url('../fonts/Boing-Light.ttf') format('truetype'),
        url('../fonts/Boing-Light.svg#../fonts/Boing-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Boing';
    src: url('../fonts/Boing-Medium.eot');
    src: url('../fonts/Boing-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Boing-Medium.woff2') format('woff2'),
        url('../fonts/Boing-Medium.woff') format('woff'),
        url('../fonts/Boing-Medium.ttf') format('truetype'),
        url('../fonts/Boing-Medium.svg#../fonts/Boing-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Boing';
    src: url('../fonts/Boing-SemiboldItalic.eot');
    src: url('../fonts/Boing-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Boing-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/Boing-SemiboldItalic.woff') format('woff'),
        url('../fonts/Boing-SemiboldItalic.ttf') format('truetype'),
        url('../fonts/Boing-SemiboldItalic.svg#../fonts/Boing-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Boing';
    src: url('../fonts/Boing-Semibold.eot');
    src: url('../fonts/Boing-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Boing-Semibold.woff2') format('woff2'),
        url('../fonts/Boing-Semibold.woff') format('woff'),
        url('../fonts/Boing-Semibold.ttf') format('truetype'),
        url('../fonts/Boing-Semibold.svg#../fonts/Boing-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Boing';
    src: url('../fonts/Boing-Thin.eot');
    src: url('../fonts/Boing-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Boing-Thin.woff2') format('woff2'),
        url('../fonts/Boing-Thin.woff') format('woff'),
        url('../fonts/Boing-Thin.ttf') format('truetype'),
        url('../fonts/Boing-Thin.svg#../fonts/Boing-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


$darkColor: #292929;
$primaryColor: #FAB209;
$handFont: p22-cezanne-pro, sans-serif;

@mixin for-mobile {
	@media screen and (max-width: 767px) { @content; }
}
@mixin for-tablet {
	@media screen and (max-width: 1200px) { @content; }
}
@mixin for-1440px {
	@media screen and (max-width: 1440px) { @content; }
}
@mixin for-win-125 {
	@media screen and (max-width: 1550px) { @content; }
}
@mixin for-13inc {
	@media screen and (max-width: 1681px) { @content; }
}
@mixin for-animation {
	@media screen and (min-width: 1200px) { @content; }
}
@mixin for-hover {
	@media (hover: hover) { @content; }
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Boing', sans-serif;
}

* {
    box-sizing: border-box;
    &:focus {
        outline: 0;
    }
}

main {
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.2;
}

p {
    margin: 0;
    margin-bottom: 30px;
    &:last-child {
        margin: 0;
    }
}

::-webkit-scrollbar {
    display: none;
}

.overflow-hidden {
    overflow: hidden;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    @include for-tablet {
        max-width: 100%;
        padding: 0 60px;
    }
    @include for-mobile {
        padding: 0 30px;
    }
}

main {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0) 100%);
        z-index: 2;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 55px 0;
        transition: .4s;
        .logo {
            a {
                display: block;
            }
        }
        .menu {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            >ul {
                display: flex;
                align-items: center;
                li {
                    a {
                        padding: 0 10px;
                        font-size: 18px;
                        color: #999;
                    }
                }
            }
            .language {
                position: relative;
                padding-left: 25px;
                .current {
                    display: flex;
                    align-items: center;
                    padding: 8px 0 15px;
                    .flag {
                        width: 18px;
                        height: 12px;
                        display: block;
                        &.en-flag {
                            background: url('../images/flags/en.jpg') no-repeat center center;
                        }
                        &.tr-flag {
                            background: url('../images/flags/tr.jpg') no-repeat center center;
                        }
                    }
                    .text {
                        display: block;
                        font-weight: 300;
                        font-size: 18px;
                        color: #999;
                        padding: 0 10px;
                        line-height: 1;
                        margin-top: 5px;
                    }
                    .icon {
                        transition: .4s;
                        svg {fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;opacity:0.7}
                    }
                    &.active {
                        .icon {
                            transform: rotate(180deg);
                        }
                    }
                }
                ul {
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: white;
                    padding: 10px;
                    display: none;
                    li {
                        a {
                            display: block;
                            padding: 10px 15px;
                            border-bottom: 1px solid rgba(#000000, .1);
                            display: flex;
                            align-items: center;
                            color: #000;
                            font-weight: 300;
                            .flag {
                                margin-right: 12px;
                                display: block;
                                width: 18px;
                                height: 12px;
                                background-color: red;
                                &.en-flag {
                                    background: url('../images/flags/en.jpg') no-repeat center center;
                                }
                                &.tr-flag {
                                    background: url('../images/flags/tr.jpg') no-repeat center center;
                                }
                            }
                        }
                        &:last-child {
                            a {
                                border: none;
                            }
                        }
                    }
                }
            }
        }
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FFFCF5;
        transform: translateY(calc(-100% - 25px));
        transition: .4s;
        z-index: -1;
        border-bottom: 1px solid #E6E4E4;
    }
    &.scroll-active {
        .header-wrapper {
            padding: 20px 0;
        }
        &:before {
            transform: translateY(0);
        }
    }
}

.page-header {
    position: relative;
    .page-bg {
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .page-title {
        position: absolute;
        bottom: -62px;
        width: 725px;
        height: 125px;
        mask-image: url('../images/masks/page-title-mask.svg');
        mask-size: cover;
        mask-position: right center;
        mask-repeat: no-repeat;
        z-index: 1;
        background-color: #009EE3;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
            font-weight: 600;
            font-size: 30px;
            letter-spacing: 0.03em;
            color: #fff;
        }
        .icon {
            position: absolute;
            top: 50%;
            right: 65px;
            transform: translateY(-50%);
            svg {
                fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;
            }
        }
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: .4s;
    .mobile-close {
        position: absolute;
        top: 50px;
        left: 400px;
        transform: translateX(-50%);
        a {
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #F4F0E7;
            border: 5px solid white;
            svg {
                fill:none;stroke:#747474;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;
            }
        }
        @include for-mobile {
            left: 300px;
        }
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba($darkColor, .7);
    }
    .mobile-menu-main {
        position: relative;
        width: 400px;
        transform: translateX(-100%);
        transition: .4s;
        .mobile-main {
            background-color: white;
            padding: 100px 60px;
            overflow: auto;
            height: 100vh;
            .logo {
                margin-bottom: 45px;
            }
            .menu {
                margin-bottom: 45px;
                ul {
                    li {
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 15px 0;
                            font-size: 17px;
                            border-bottom: 1px solid #E0E0E0;
                            transition: .4s;
                            .arrow {
                                svg {
                                    transition: .4s;fill:none;stroke:#fab209;stroke-linecap:round;stroke-linejoin:round;stroke-width:2.1px;
                                }
                            }
                            &.active {
                                color: $primaryColor;
                                .arrow {
                                    svg {
                                        transform: rotate(90deg);
                                    }
                                }
                            }
                            @include for-mobile {
                                font-size: 15px;
                            }
                        }
                        ul {
                            display: none;
                            padding: 15px;
                            background-color: rgba($primaryColor, .1);
                            li {
                                a {
                                    padding: 7px 0;
                                    font-size: 14px;
                                }
                            }
                        }
                        &:last-child {
                            a {
                                border: none;
                            }
                        }
                    }
                }
            }
            .mail {
                margin-bottom: 45px;
                a {
                    display: block;
                    font-weight: 500;
                    font-size: 16px;
                    color: #696969;
                    span {
                        color: #000;
                        position: relative;
                        &:before {
                            content: "";
                            position: absolute;
                            bottom: -5px;
                            left: 0;
                            width: 40px;
                            height: 1px;
                            background-color: $primaryColor;
                        }
                    }
                }
            }
            .language {
                ul {
                    display: flex;
                    align-items: center;
                    a {
                        font-size: 17px;
                        margin-right: 15px;
                        &.active {
                            color: $primaryColor;
                        }
                    }
                }
            }
            @include for-mobile {
                padding: 60px 30px;
            }
        }
        &.active {
            transform: translateX(0);
        }
        @include for-mobile {
            width: 300px;
        }
    }
    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    @include for-mobile {
        overflow: auto;
    }
}

.career {
    padding: 140px 0;
    .career-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 75px;
        .career-title {
            width: 50%;
            h3 {
                font-weight: 500;
                font-size: 40px;
                color: #009ee3;
            }
        }
        .career-content {
            width: 50%;
            p {
                font-weight: 300;
                font-size: 24px;
                line-height: 1.3;
                color: #aaa;
            }
        }
    }
    .career-main {
        h3 {
            font-weight: 500;
            font-size: 24px;
            color: #2d2d2d;
            margin-bottom: 45px;
        }
        .career-main-wrapper {
            display: flex;
            margin: 0 -15px;
            .career-form {
                width: 50%;
                padding: 0 15px;
                .form {
                    .form-wrapper {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        margin: 0 -15px;
                        .form-item {
                            padding: 0 15px;
                            margin-bottom: 20px;
                            input, .nice-select, textarea {
                                font-family: 'Boing', sans-serif;
                                width: 100%;
                                height: 60px;
                                border: 1px solid #E8E8E8;
                                border-radius: 20px;
                                padding: 0 20px;
                                font-weight: 300;
                                font-size: 16px;
                                color: #2d2d2d;
                                opacity: 1;
                                &::placeholder {
                                    opacity: .6;
                                }
                            }
                            .nice-select {
                                .current {
                                    height: 60px;
                                    display: flex;
                                    align-items: center;
                                    font-weight: 300;
                                    font-size: 16px;
                                    color: #2d2d2d;
                                    opacity: 0.6;
                                }
                                ul {
                                    display: block;
                                    width: 100%;
                                }
                                &:after {
                                    right: 30px;
                                }
                            }
                            textarea {
                                height: 125px;
                                resize: none;
                                font-family: 'Boing', sans-serif;
                                padding: 20px;
                            }

                            &.item-12 {
                                width: 100%;
                            }
                            &.item-6 {
                                width: 50%;
                            }
                            .wrapper {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                .kvkk {
                                    input {
                                        display: none;
                                        & + label {
                                            position: relative;
                                            padding-left: 45px;
                                            font-size: 16px;
                                            letter-spacing: 0.03em;
                                            color: #727070;
                                            opacity: 0.6;
                                            font-weight: 300;
                                            cursor: pointer;
                                            a {
                                                font-weight: bold;
                                                text-decoration: underline;
                                            }
                                            &:before {
                                                content: "";
                                                position: absolute;
                                                top: 50%;
                                                left: 0;
                                                transform: translateY(-50%);
                                                width: 24px;
                                                height: 24px;
                                                border: 1px solid #AAAAAA;
                                                border-radius: 50%;
                                            }
                                            &:after {
                                                content: "";
                                                position: absolute;
                                                top: 50%;
                                                left: 6px;
                                                transform: translateY(-50%) scale(0);
                                                width: 14px;
                                                height: 14px;
                                                background: #000;
                                                border-radius: 50%;
                                                transition: .4s;
                                            }
                                        } 
                                        &:checked + label {
                                            &:after {
                                                transform: translateY(-50%) scale(1);
                                            }
                                        }
                                    }
                                }
                                .cv {
                                    input {
                                        display: none;
                                    }
                                    label {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        height: 60px;
                                        border-radius: 20px;
                                        color: white;
                                        background-color: #009EE3;
                                        padding: 0 30px;
                                        font-size: 16px;
                                        letter-spacing: 0.03em;
                                        cursor: pointer;
                                       .icon {
                                           margin-left: 15px;
                                            svg {
                                                fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;
                                            }
                                       }
                                    }
                                }
                            }
                        }
                        .button {
                            display: flex;
                            justify-content: flex-end;
                            width: 100%;
                            padding: 0 15px;
                            button {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border: 1px solid #E8E8E8;
                                border-radius: 20px;
                                font-size: 16px;
                                letter-spacing: 0.03em;
                                color: #727070;
                                opacity: 0.6;
                                height: 60px;
                                padding: 0 30px;
                                background-color: transparent;
                                .icon {
                                    margin-left: 15px;
                                    svg {
                                        fill:none;stroke:#147ccc;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .career-faq {
                width: 50%;
                padding: 0 15px;
                .faq {
                    .faq-item {
                        background-color: #FAFAFA;
                        border-radius: 20px;
                        margin-bottom: 30px;
                        transition: .4s;
                        .faq-header {
                            padding: 20px;
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            h4 {
                                font-weight: normal;
                                font-size: 18px;
                                letter-spacing: 0.03em;
                                color: #999;
                                opacity: 0.6;
                                transition: .4s;
                            }
                            .plus {
                                display: block;
                                width: 30px;
                                height: 30px;
                                position: relative;
                                &:before {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    width: 1px;
                                    height: 100%;
                                    background-color: #999999;
                                    transition: .4s;
                                }
                                &:after {
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    left: 0;
                                    transform: translateY(-50%);
                                    width: 100%;
                                    height: 1px;
                                    background-color: #999999;
                                    transition: .4s;
                                }
                            }
                        }
                        .faq-content {
                            display: none;
                            .content {
                                padding: 20px;
                                p {
                                    font-weight: normal;
                                    font-size: 16px;
                                    letter-spacing: 0.03em;
                                    color: #e8e8e8;
                                }
                                ul {
                                    li {
                                        font-weight: 300;
                                        font-size: 16px;
                                        letter-spacing: 0.03em;
                                        color: #e8e8e8;
                                        margin-bottom: 15px;
                                        padding-left: 30px;
                                        position: relative;
                                        &:before {
                                            content: "";
                                            position: absolute;
                                            left: 0;
                                            top: 50%;
                                            transform: translateY(-50%);
                                            width: 8px;
                                            height: 8px;
                                            background-color: white;
                                            border-radius: 50%;
                                        }
                                    }
                                }
                            }
                        }
                        &.active {
                            background-color: #009EE3;
                            .faq-header {
                                h4 {
                                    color: white;
                                    opacity: 1;
                                }
                                .plus {
                                    &:before {
                                        transform: translateX(-50%) scaleY(0);
                                    }
                                    &:after {
                                        background-color: white;
                                    }
                                }
                            }
                        }
                        &:first-child {
                            .faq-content {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}